@import "tailwindcss";

@layer base {
  :root {
    --background: #010101;
    --text-primary: #FFFFFF;
    --text-secondary: #ABABAB;
    --brand-primary: #FC004E;
    --brand-secondary: #00E7F9;
    --yellow-accent: #FBDD3B;
  }
  
  html, body {
    font-family: 'Figtree', sans-serif;
  }
}
